.contenedor-principal {
  @apply w-full h-screen flex;
}

.neon-text {
  text-shadow: 0 0 10px #ffaa00, 0 0 20px #d5ba06, 0 0 30px #c9790064;
}
.titulos {
  @apply text-white text-5xl uppercase;
}

.marco {
  box-shadow: 15px 5px 10px #bd7e0a86;
  backdrop-filter: blur(30px);
  background-color: transparent;
}

.borde {
  border-color: 0 0 10px #ffb700, 0 0 20px #a56516, 0 0 30px #b39f2e64;
}

.contenedor {
  @apply rounded-full p-14 pt-16 bg-white border marco  borde flex flex-col gap-2 w-full h-full hover:bg-amber-500 transition-transform hover:scale-105;
}

.decoracion {
  text-decoration: none;
}

.enlaces {
  @apply text-white transition-colors hover:text-gray-400 text-xl  bg-transparent font-sans;
}

.boton {
  @apply bg-amber-600 p-2 px-3 rounded-md transition-colors hover:bg-amber-700;
}

.alineacion_iconos {
  @apply mx-auto text-white  hover:text-amber-600;
}

.contenedor-contacto {
  backdrop-filter: blur(30px);
  border: 1px solid #162ea5;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 55vh;
  border-radius: 1rem;
  color: white;
}
